<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <title>Macronutrient Grocery Search</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
      .macros{
        float:left;
        width: 200px;
      }
      .cl{
        clear:left;
      }
      #calculate{
        margin:25px 0px 10px;
      }
  </style>
  </head>
  <body bgcolor="#E6E6FA">
    <div class="container">
        <h1 style="color:red;"> Enter your desired ratio of macros per day.</h1>
        <form action="./amina" method="POST">
            <div class="macros">
                <p> Carbs </p>
                <select name="carbs">
                    <option value="2">High</option>
                    <option value="1">Low</option>
                </select>
            </div>
            <div class="macros">
                <p> Protein </p>
                 <select name="protein">
                    <option value="8">High</option>
                    <option value="4">Low</option>
                </select>
            </div>
            <div class="macros">
                <p> Fat </p>
                 <select name="fat">
                    <option value="32">High</option>
                    <option value="16">Low</option>
                </select>
            </div>
            <div class="cl"></div>
            <input type="submit" id="calculate" name="my-form" value="Calculate">
            </form>
        <p> When you click Calculate, the app will give you a grocery list of items that, altogether, will satisfy your macronutrient preferences. </p>


    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
