<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <title>Macronutrient Grocery List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #groceries{
            font-weight:bold;
            font-size:24px;
            margin: 20px 10px;
            padding:8px;
            background-color:#eee;
        }
        #disclaimer{
            font-style:italic;
            font-weight:bold;
            font-size:14px;
            padding:4px 0px
        }
    </style>
  </head>
  <body bgcolor="#E6E6FA">
    <div class="container">
        <h1>
            Your {{c}} carb, {{p}} protein, {{f}} fat grocery list:
        </h1>
        <div id="groceries">
            <ol>
                {% for ingredient in g %}
                <li>{{ingredient}}</li>
                {% endfor %}
            </ol>
            <div id="disclaimer">*The combination of items in this list meets the desired macronutrient plan. Each individual item may not be sufficient on its own. </div>
        </div>
        <a href="./amina">Back To Home Page</a>




    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>

