<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bruschetta</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body style="background-color:powderblue;">
    <div class="container" align="center">
            <h2><p align="center"> The Best Lemon Bars </p></h2>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Directions: </p></h2>
            <h1><p align="center" style= "font-family: 'Alegreya Sans', sans-serif; font-size: 49%; margin-left: 15em; margin-right:15em "> Preheat oven to 350 degrees F (175 degrees C). In a medium bowl, blend together softened butter, 2 cups flour and 1/2 cup sugar. Press into the bottom of an ungreased 9x13 inch pan. Bake for 15 to 20 minutes in the preheated oven, or until firm and golden. In another bowl, whisk together the remaining 1 1/2 cups sugar and 1/4 cup flour. Whisk in the eggs and lemon juice. Pour over the baked crust.
Bake for an additional 20 minutes in the preheated oven. The bars will firm up as they cool. For a festive tray, make another pan using limes instead of lemons and adding a drop of green food coloring to give a very pale green. After both pans have cooled, cut into uniform 2 inch squares and arrange in a checker board fashion.
</p></h1>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Ingredients: </p></h2>

            <ul>
                <p align="center"> 1 cup butter, softened <br> </p>
                <p align="center">1/2 cup white sugar </p>
                <p align="center"> 2 cups all-purpose flour </p>
                <p align="center"> 4 eggs</p>
                <p align="center">1 1/2 cups white sugar </p>
                <p align="center">1/4 cup all-purpose flour<br> </p>
                <p align="center"> 2 lemons, juiced </p>
            </ul>
    </div> <!-- /container -->
