<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bruschetta</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body style="background-color:powderblue;">
    <div class="container" align="center">
            <h2><p align="center"> Stuffed Peppers </p></h2>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Directions: </p></h2>
            <h1><p align="center" style= "font-family: 'Alegreya Sans', sans-serif; font-size: 49%; margin-left: 15em; margin-right:15em "> Cut thin slice from stem end of each bell pepper to remove top of pepper. Remove seeds and membranes; rinse peppers. If necessary, cut thin slice from bottom of each pepper so they stand up straight. In 4-quart Dutch oven, add enough water to cover peppers. Heat to boiling; add peppers. Cook about 2 minutes; drain. In 10-inch skillet, cook beef and onion over medium heat 8 to 10 minutes, stirring occasionally, until beef is brown; drain. Stir in rice, salt, garlic and 1 cup of the tomato sauce; cook until hot. Heat oven to 350°F. Stuff peppers with beef mixture. Stand peppers upright in ungreased 8-inch square glass baking dish. Pour remaining tomato sauce over peppers. Cover tightly with foil. Bake 10 minutes. Uncover and bake about 15 minutes longer or until peppers are tender. Sprinkle with cheese.
</p></h1>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Ingredients: </p></h2>

            <ul>
                <p align="center"> 4 large bell peppers<br> </p>
                <p align="center">1 lb lean (at least 80%) ground beef </p>
                <p align="center"> 2 tablespoons chopped onion </p>
                <p align="center"> 1 cup cooked rice </p>
                <p align="center">1 teaspoon salt</p>
                <p align="center">1 clove garlic, finely chopped<br> </p>
                <p align="center"> 1 can (15 oz) Muir Glen™ organic tomato sauce </p>
                <p align="center">3/4 cup shredded mozzarella cheese (3 oz) </p>
            </ul>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
