<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <title>CS1 Final Projects 2016-17</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body bgcolor="#E6E6FA">
    <div class="container">
        <h1>Students</h1>
        <ul>
            <li><a href="./amina">Amina</a></li>
            <li><a href="./grace">Grace</a></li>
            <li><a href="./jordan">Jordan</a></li>
            <li><a href="./kate">Kate</a></li>
            <li><a href="./laurena">Lauren A.</a></li>
            <li><a href="./laurent">Lauren T.</a></li>
            <li><a href="./madeline">Madeline</a></li>
            <li><a href="./nicole">Nicole</a></li>
            <li><a href="./rashi">Rashi</a></li>
            <li><a href="./shosho">Sho Sho</a></li>
            <li><a href="./sophia">Sophia</a></li>
            <li><a href="./talia">Talia</a></li>
            <li><a href="./zannie">Zannie</a></li>
            <li><a href=".">Alexia</a></li>
            <li><a href=".">Annika</a></li>
            <li><a href=".">Holly</a></li>
        </ul>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
