<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bruschetta</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body style="background-color:powderblue;">
    <div class="container" align="center">
            <h2><p align="center"> Bruschetta </p></h2>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Directions: </p></h2>
            <h1><p align="center" style= "font-family: 'Alegreya Sans', sans-serif; font-size: 49%; margin-left: 15em; margin-right:15em "> In a medium mixing bowl, add the tomatoes, garlic, basil, vinegar, olive oil, cheese, salt and pepper. Mix thoroughly and let sit for at least 15 minutes at room temperature to let the flavors marinate. Slice the bread into individual pieces and spoon the mixture on top.
</p></h1>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Ingredients: </p></h2>

            <ul>
                <p align="center"> 1 Baguette, cut in half length-wise and toasted<br> </p>
                <p align="center"> 2 teaspoons minced garlic  </p>
                <p align="center"> 3 tablespoons of extra-virgin olive oil </p>
                <p align="center"> 1⁄4 cup of grated parmesan cheese </p>
                <p align="center"> 1⁄2 cups minced roma tomatoes</p>
                <p align="center"> 1⁄3 cup thinly sliced fresh basil leaf <br> </p>
                <p align="center"> 2 tablespoons of balsamic vinegar </p>
                <p align="center"> 1⁄2 teaspoon salt </p>
            </ul>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
