<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bruschetta</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body style="background-color:powderblue;">
    <div class="container" align="center">
            <h2><p align="center"> Spiced Olives </p></h2>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Directions: </p></h2>
            <h1><p align="center" style= "font-family: 'Alegreya Sans', sans-serif; font-size: 49%; margin-left: 15em; margin-right:15em "> Heat 1/3 cup olive oil with 1 strip each lemon zest and orange zest, 1/4 teaspoon red pepper flakes and 1 smashed garlic clove. Stir in 1 cup mixed olives and a few thyme sprigs.
</p></h1>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Ingredients: </p></h2>

            <ul>
                <p align="center"> 1/3 cup of olive oil<br> </p>
                <p align="center"> 2 strips lemon zest and orange zest  </p>
                <p align="center"> 1/4 teaspoon red pepper flakes </p>
                <p align="center"> 1 smashed garlic clove </p>
                <p align="center"> 1 cup mixed olives</p>
                <p align="center"> A few thyme sprigs<br> </p>
            </ul>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
