<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tuna Tartare</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body style="background-color:powderblue;">
    <div class="container" align="center">
            <h2><p align="center"> Tuna Tartare </p></h2>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Directions: </p></h2>
            <h1><p align="center" style= "font-family: 'Alegreya Sans', sans-serif; font-size: 49%; margin-left: 15em; margin-right:15em "> In a small, dry fry pan over medium heat, toast the sesame seeds, stirring often, until fragrant and beginning to brown, 2 to 5 minutes. Pour onto a small plate to cool.Using a very sharp knife, trim away any sinew or skin from the tuna fillet. Cut the tuna into 1/4-inch cubes and place in a bowl. Add the ginger, soy sauce, lime juice, jalapeño and sesame oil and stir gently to combine.To serve, divide the tuna among individual bowls or plates and sprinkle the sesame seeds on top, dividing evenly. Top with the chives and serve. Serves 4.</p></h1>
            <h2><p align="center" style= "font-family: 'Alegreya Sans', sans-serif;">Ingredients: </p></h2>

            <ul>
                <p align="center">2 tsp. sesame seeds<br> </p>
                <p align="center">1 lb. sushi-grade tuna fillet </p>
                <p align="center">3/4 tsp. peeled and minced fresh ginger </p>
                <p align="center">1 1/2 Tbs. soy sauce, preferably reduced sodium</p>
                <p align="center">2 1/4 tsp. fresh lime juice</p>
                <p align="center">1 jalapeño chile, finely minced<br> </p>
                <p align="center">1 1/2 Tbs. Asian sesame oil </p>
                <p align="center">8 pieces fresh chives, each about 1 1/2 inches long</p>
            </ul>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
